html,body,div,p,h1,h2,h3,input,textarea,a,ul,li,ol,dd,dl,dt,strong { margin: 0;padding: 0;}
a { text-decoration: none; color: #808080; }
.fill { object-fit: fill; }
.contain { object-fit: contain; }
.cover { object-fit: cover; }
.none { object-fit: none; }
.scale-down { object-fit: scale-down; }
.contain { object-position: contain; }
.cover { object-position: cover; }
.none { object-position: none; }
.position {  object-position: -50% -50%; }
.box { width: 160px; height: 160px; margin: 10px 0 20px; background-color: #beceeb; overflow: hidden; resize: both; }
.box > img { width: 100%; height: 100%; }

.num {
    width: 40px; height: 40px;
    object-fit: none;
    object-position: 0 0;
    -webkit-transition: object-position .25s;
    transition: object-position .25s;
}
.num0 {  }
.num1 { object-position: 0 -40px; }
.num2 { object-position: 0 -80px; }
.num3 { object-position: 0 -120px; }
.num4 { object-position: 0 -160px; }
.num5 { object-position: 0 -200px; }
.num6 { object-position: 0 -240px; }
.num7 { object-position: 0 -280px; }
.num8 { object-position: 0 -320px; }
.num9 { object-position: 0 -360px; }
