registry = "https://registry.npmmirror.com/"

auto-install-peers=true
dedupe-peer-dependents=true
strict-peer-dependencies=true
shell-emulator=true

public-hoist-pattern[]=husky
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=turbo
public-hoist-pattern[]=@typescript-eslint/*
public-hoist-pattern[]=*types*

engine-strict=true

update-notifier=false