/* Write your styles */
p {
	width:112px;
	height:32px;
	float:left;
	position:relative;
	overflow:hidden;
}

p:before {
	content:'';
	background:#9f9f9f;
	width:32px;
	height:32px;
	transform:rotate(-45deg);
	position:absolute;
	left:6px;
	border-radius:2px;
}

p:after {
	content:'呵呵';
	background:#9f9f9f;
	width:96px;
	height:32px;
	padding-left: 3rem;
	line-height: 32px;
	position:absolute;
	right:0;
	border-radius:3px;
}

p > i {
	width:8px;
	height:8px;
	background:#fff;
	border-radius:50%;
	position:absolute;
	top:50%;
	margin-top:-4px;
	left:8px;
}