@charset "utf-8";
/* CSS Document */

.content{
	  width:120px;
	  height:40px;
	  background:red;
	  position:relative;
	  top:200px;
	  left:50%;
	  border-radius:0 5px 5px 0;
	}
.content .angel{
	  width:0;
	  height:0;
	  border-bottom:20px solid transparent;
	  border-top:20px solid transparent;
	  border-right:20px solid red;
	  position:absolute;
	  left:-20px;
	}
.content .circle{
	   width:10px;
	   height:10px; 
	   background:white;
	   border-radius:50%;
	   position:absolute;
	   top:50%;
	   left:0;
	   margin-top:-5px;
	}